<a href="https://colab.research.google.com/github/caidhiba/Data-Marketing-Project/blob/main/script_transactions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

try:
    df = pd.read_csv('/content/transactions.csv')
    print("Dataset 'transactions.csv' loaded successfully.")
except FileNotFoundError:
    print("dataset not found")
    df = None

if df is not None:

    if 'invoice_id' in df.columns:
        unique_invoices = df['invoice_id'].nunique()
        print(f"\nNumber of unique invoice_id: {unique_invoices}")
    else:
        print("column not found")

    if 'customer_id' in df.columns:
        unique_customers = df['customer_id'].nunique()
        print(f"Number of unique customer_id: {unique_customers}")
    else:
        print("column not found")

Dataset 'transactions.csv' loaded successfully.

Number of unique invoice_id: 253545
Number of unique customer_id: 49146

In [4]:
if df is not None:
    if 'invoice_date' in df.columns:
        try:
            df['invoice_date'] = pd.to_datetime(df['invoice_date'])
            oldest_date = df['invoice_date'].min()
            most_recent_date = df['invoice_date'].max()
            print(f"\nOldest invoice_date: {oldest_date}")
            print(f"Most recent invoice_date: {most_recent_date}")
        except Exception as e:
            print(f"Error converting 'invoice_date' to datetime: {e}")
    else:
        print("Column 'invoice_date' not found in the dataset.")
else:
    print("DataFrame 'df' is not loaded.")

Oldest invoice_date: 2007-07-06 12:20:00
Most recent invoice_date: 2011-12-09 12:50:00

In [5]:
if 'oldest_date' in locals() and 'most_recent_date' in locals():
    time_difference = most_recent_date - oldest_date
    print(f"différence temporelle = {time_difference}")
else:
    print("erreur")

différence temporelle = 1617 days 00:30:00

In [6]:
if df is not None:
    print("\nNombre de valeurs manquantes par colonne :")
    print(df.isnull().sum())
else:
    print("DataFrame 'df' n'est pas chargé. Veuillez charger le dataset d'abord.")

Nombre de valeurs manquantes par colonne :
invoice_id           0
customer_id     418258
product_code         0
product_name      7542
quantity         16187
unit_price           0
invoice_date         0
country              0
dtype: int64

In [7]:
if df is not None:
    if 'quantity' in df.columns:
        # Filter rows where 'quantity' is null
        empty_quantity_rows = df[df['quantity'].isnull()]

        if not empty_quantity_rows.empty:
            print("\nLignes avec une quantité vide :")
            print(empty_quantity_rows)
        else:
            print("\nAucune ligne avec une quantité vide n'a été trouvée.")
    else:
        print("\nLa colonne 'quantity' n'existe pas dans le DataFrame.")
else:
    print("\nLe DataFrame 'df' n'est pas chargé.")

Lignes avec une quantité vide :
        invoice_id  customer_id product_code  \
5           630916      20607.0       84660A
98          685784      28803.0        22350
389         626490      20395.0        90114
695         624124      20283.0       16156N
831         753929      53180.0       84406B
...            ...          ...          ...
1836415     604370      19324.0        22070
1836511     715693      37948.0        23177
1836661     767021      57963.0       84509G
1836667     617031      19937.0        20870
1836761     743300          NaN        22819

                                product_name  quantity  unit_price  \
5                  WHITE STITCHED WALL CLOCK       NaN        0.79
98                      DOORMAT BLACK FLOCK        NaN        7.95
389                     URBAN BLACK RIBBONS        NaN        1.25
695                WRAP, FRIENDSHIP ON GREEN       NaN        0.42
831           CREAM CUPID HEARTS COAT HANGER       NaN        3.25
...                                      ...       ...         ...
1836415              JUMBO BAG RED RETROSPOT       NaN        1.95
1836511        BLUE YELLOW FLOWER PIGGY BANK       NaN        4.65
1836661                FAIRY CAKE PLACEMATS        NaN        3.75
1836667  CHARLIE LOLA BLUE HOT WATER BOTTLE        NaN        4.65
1836761   S/3 PINK COL METAL BASKET W HANDLE       NaN       12.75

               invoice_date         country
5       2010-06-08 12:20:00  United Kingdom
98      2011-05-13 12:20:00  United Kingdom
389     2011-06-22 12:20:00  United Kingdom
695     2010-01-21 12:20:00          France
831     2011-01-20 12:20:00  United Kingdom
...                     ...             ...
1836415 2011-12-07 12:20:00  United Kingdom
1836511 2010-08-18 12:20:00  United Kingdom
1836661 2010-03-07 12:20:00  United Kingdom
1836667 2011-01-28 12:20:00  United Kingdom
1836761 2011-01-26 12:20:00  United Kingdom

[16187 rows x 8 columns]

In [8]:
if df is not None:
    # Count total duplicate rows
    total_duplicates = df.duplicated().sum()
    print(f"\nNombre total de lignes en double: {total_duplicates}")

    if total_duplicates > 0:
        # Display all duplicate rows
        duplicate_rows = df[df.duplicated(keep=False)]
        print("\nLignes en double (affichage complet) :")
        print(duplicate_rows.sort_values(by=list(df.columns)))
    else:
        print("\nAucune ligne en double n'a été trouvée dans le DataFrame.")
else:
    print("\nLe DataFrame 'df' n'est pas chargé.")

Nombre total de lignes en double: 34522

Lignes en double (affichage complet) :
        invoice_id  customer_id product_code  \
216214      489517      16329.0        21491
1276226     489517      16329.0        21491
340894      489517      16329.0        21821
1445662     489517      16329.0        21821
1026879     489517      16329.0        21912
...            ...          ...          ...
149266     C574510      15110.0        22360
202116     C575940      17838.0        23309
1741616    C575940      17838.0        23309
344163     C580764      14562.0        22667
463210     C580764      14562.0        22667

                                product_name  quantity  unit_price  \
216214       SET OF THREE VINTAGE GIFT WRAPS       1.0        1.95
1276226      SET OF THREE VINTAGE GIFT WRAPS       1.0        1.95
340894      GLITTER STAR GARLAND WITH BELLS        1.0        3.75
1445662     GLITTER STAR GARLAND WITH BELLS        1.0        3.75
1026879             VINTAGE SNAKES & LADDERS       1.0        3.75
...                                      ...       ...         ...
149266       GLASS JAR ENGLISH CONFECTIONERY      -1.0        2.95
202116   SET OF 60 I LOVE LONDON CAKE CASES      -24.0        0.55
1741616  SET OF 60 I LOVE LONDON CAKE CASES      -24.0        0.55
344163                 RECIPE BOX RETROSPOT      -12.0        2.95
463210                 RECIPE BOX RETROSPOT      -12.0        2.95

               invoice_date         country
216214  2009-12-01 11:34:00  United Kingdom
1276226 2009-12-01 11:34:00  United Kingdom
340894  2009-12-01 11:34:00  United Kingdom
1445662 2009-12-01 11:34:00  United Kingdom
1026879 2009-12-01 11:34:00  United Kingdom
...                     ...             ...
149266  2011-11-04 13:25:00  United Kingdom
202116  2011-11-13 11:38:00  United Kingdom
1741616 2011-11-13 11:38:00  United Kingdom
344163  2011-12-06 10:38:00  United Kingdom
463210  2011-12-06 10:38:00  United Kingdom

[67616 rows x 8 columns]

In [9]:
if df is not None:
    df_cleaned = df.drop_duplicates()
    remaining_rows = df_cleaned.shape[0]
    print(f"\nAprès suppression des doublons, le nombre total de lignes est de : {remaining_rows}")
else:
    print("\nLe DataFrame 'df' n'est pas chargé.")

Après suppression des doublons, le nombre total de lignes est de : 1802615