<a href="https://colab.research.google.com/github/caidhiba/Data-Marketing-Project/blob/main/script_transactions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

try:
    df = pd.read_csv('/content/transactions.csv')
    print("Dataset 'transactions.csv' loaded successfully.")
except FileNotFoundError:
    print("dataset not found")
    df = None

if df is not None:

    if 'invoice_id' in df.columns:
        unique_invoices = df['invoice_id'].nunique()
        print(f"\nNumber of unique invoice_id: {unique_invoices}")
    else:
        print("column not found")

    if 'customer_id' in df.columns:
        unique_customers = df['customer_id'].nunique()
        print(f"Number of unique customer_id: {unique_customers}")
    else:
        print("column not found")

Dataset 'transactions.csv' loaded successfully.

Number of unique invoice_id: 91996
Number of unique customer_id: 27052

In [23]:
if df is not None:
    if 'invoice_date' in df.columns:
        try:
            df['invoice_date'] = pd.to_datetime(df['invoice_date'])
            oldest_date = df['invoice_date'].min()
            most_recent_date = df['invoice_date'].max()
            print(f"\nOldest invoice_date: {oldest_date}")
            print(f"Most recent invoice_date: {most_recent_date}")
        except Exception as e:
            print(f"Error converting 'invoice_date' to datetime: {e}")
    else:
        print("Column 'invoice_date' not found in the dataset.")
else:
    print("DataFrame 'df' is not loaded.")

Oldest invoice_date: 2007-07-06 12:20:00
Most recent invoice_date: 2011-12-09 12:50:00

In [24]:
if 'oldest_date' in locals() and 'most_recent_date' in locals():
    time_difference = most_recent_date - oldest_date
    print(f"différence temporelle = {time_difference}")
else:
    print("erreur")

différence temporelle = 1617 days 00:30:00

In [25]:
if df is not None:
    print("valeurs manquantes = ")
    print(df.isnull().sum())
else:
    print("erreur")

valeurs manquantes =
invoice_id          0
customer_id     45023
product_code        0
product_name      819
quantity         1739
unit_price          0
invoice_date        0
country             0
dtype: int64

In [26]:
if df is not None:
    if 'quantity' in df.columns:
        empty_quantity_rows = df[df['quantity'].isnull()]

        if not empty_quantity_rows.empty:
            print("lignes avec quantity = null :")
            print(empty_quantity_rows)
        else:
            print("erreur")
    else:
        print("erreur")
else:
    print("erreur")

lignes avec quantity = null :
       invoice_id  customer_id product_code                    product_name  \
5          630916      20607.0       84660A       WHITE STITCHED WALL CLOCK
98         685784      28803.0        22350            DOORMAT BLACK FLOCK
389        626490      20395.0        90114            URBAN BLACK RIBBONS
695        624124      20283.0       16156N       WRAP, FRIENDSHIP ON GREEN
831        753929      53180.0       84406B  CREAM CUPID HEARTS COAT HANGER
...           ...          ...          ...                             ...
198177     740505      48629.0        85145             DOOR MAT BLUE FLOCK
198180     740705          NaN        21576   PINK FAIRY CAKE CHILD'S APRON
198221     597252      19012.0        22182  PORCELAIN BUTTERFLY OIL BURNER
198347     666187          NaN        20618   TRADITIONAL CHRISTMAS RIBBONS
198393     704637      33867.0        20718         JUMBO BAG RED RETROSPOT

        quantity  unit_price        invoice_date         country
5            NaN        0.79 2010-06-08 12:20:00  United Kingdom
98           NaN        7.95 2011-05-13 12:20:00  United Kingdom
389          NaN        1.25 2011-06-22 12:20:00  United Kingdom
695          NaN        0.42 2010-01-21 12:20:00          France
831          NaN        3.25 2011-01-20 12:20:00  United Kingdom
...          ...         ...                 ...             ...
198177       NaN        6.75 2010-01-20 12:20:00  United Kingdom
198180       NaN        1.95 2009-05-06 12:20:00  United Kingdom
198221       NaN        0.00 2010-03-17 12:20:00  United Kingdom
198347       NaN        1.25 2010-11-11 12:20:00  United Kingdom
198393       NaN        2.08 2011-09-29 12:20:00  United Kingdom

[1739 rows x 8 columns]

In [27]:
if df is not None:
    total_duplicates = df.duplicated().sum()
    print(f"lignes en double : {total_duplicates}")

    if total_duplicates > 0:
        duplicate_rows = df[df.duplicated(keep=False)]
        print(duplicate_rows.sort_values(by=list(df.columns)))
    else:
        print("erreur")
else:
    print("erreur")

lignes en double : 444
       invoice_id  customer_id product_code                     product_name  \
30417      490300      12970.0        21726           MULTI HEARTS  STICKERS
141973     490300      12970.0        21726           MULTI HEARTS  STICKERS
11345      490403      17920.0        20866          BLUE ROSE FABRIC MIRROR
142058     490403      17920.0        20866          BLUE ROSE FABRIC MIRROR
34176      490403      17920.0        22175                PINK OWL SOFT TOY
...           ...          ...          ...                              ...
62965     C537797      13113.0        22423         REGENCY CAKESTAND 3 TIER
263       C538082      13777.0        21864  UNION JACK FLAG PASSPORT COVER
132102    C538082      13777.0        21864  UNION JACK FLAG PASSPORT COVER
144965    C574510      15110.0        22360  GLASS JAR ENGLISH CONFECTIONERY
149266    C574510      15110.0        22360  GLASS JAR ENGLISH CONFECTIONERY

        quantity  unit_price        invoice_date         country
30417        1.0        0.85 2009-12-04 14:19:00  United Kingdom
141973       1.0        0.85 2009-12-04 14:19:00  United Kingdom
11345        1.0        1.25 2009-12-06 11:13:00  United Kingdom
142058       1.0        1.25 2009-12-06 11:13:00  United Kingdom
34176        1.0        2.95 2009-12-06 11:13:00  United Kingdom
...          ...         ...                 ...             ...
62965       -2.0       10.95 2010-12-08 13:07:00  United Kingdom
263        -20.0        2.10 2010-12-09 14:30:00  United Kingdom
132102     -20.0        2.10 2010-12-09 14:30:00  United Kingdom
144965      -1.0        2.95 2011-11-04 13:25:00  United Kingdom
149266      -1.0        2.95 2011-11-04 13:25:00  United Kingdom

[881 rows x 8 columns]

In [32]:
if df is not None:
    df = df.drop_duplicates()
    remaining_rows = df.shape[0]
    print(f"Nombre total de lignes après suppression des doublons : {remaining_rows}")
else:
    print("erreur")

Nombre total de lignes après suppression des doublons : 198014

In [29]:
df["quantity"] = pd.to_numeric(df["quantity"], errors="coerce")
df["unit_price"] = pd.to_numeric(df["unit_price"], errors="coerce")

In [30]:
display(df.head())

,invoice_id,customer_id,product_code,product_name,quantity,unit_price,invoice_date,country
0,513574,NaN,22382,LUNCH BAG SPACEBOY DESIGN,2.0,4.21,2010-06-25 15:13:00,United Kingdom
1,609421,NaN,21028,PURPLE GEMSTONE BRACELET,2.0,8.95,2011-10-16 12:20:00,United Kingdom
2,515609,NaN,47591B,SCOTTIES CHILDRENS APRON,1.0,1.66,2010-07-13 15:44:00,United Kingdom
3,501320,15123.0,22334,DINOSAUR PARTY BAG + STICKER SET,8.0,1.65,2010-03-16 09:49:00,United Kingdom
4,521822,12714.0,21933,PINK VINTAGE PAISLEY PICNIC BAG,5.0,2.95,2010-09-09 10:37:00,France

In [33]:
if df is not None:
    total_duplicates = df.duplicated().sum()
    print(f"lignes en double : {total_duplicates}")

lignes en double : 0